<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="images/diamantovamikrobrezia.jpeg"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        Diamantova mikrodermabrazia
      </h2>
      <p class="lead">
        Odstraňuje na tvári, krku a dekolte povrchové vrstvy kože , odumreté
        kožné bunky, škvrny, vrásky a jazvy, a súčasne podporuje produkciu
        nových buniek v hlbších vrstvách pokožky. VÝSLEDKY OŠETRENIA: odstránia
        sa jemné vrásky viditeľne sa zmenšia rozšírené póry významne sa zbrúsia
        aj jazvičky po akné pleť bude omladená farebne zjednotená eliminujú sa
        pigmentové škvrny pri mastnej pleti sa zmierňuje mazoto zvýši sa tonus
        pleti
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
          Primary
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">
          Default
        </button>
      </div>
    </div>
  </div>
</div>
